* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("y-so-serious-white.png");
}

.logo {
    position: absolute;
    display: flex;
    margin-left:20px;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 50px;
}

img {
    height: 30px;
    left: 1;
    top: 2;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 70px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #C14FFF;
    background-color: #fff;
    color: #3d017d;
    font-size: 1.3em;
    font-weight: bold;
}

button:active{
    position: relative;
    box-shadow: 6px 6px 0px 0px rgba(103,0,184,0.75) inset;
    padding: 6px 0 0 6px;
    background-color: #d5b5f7;
}

.container {
    max-width: 300px;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #A501FF;
    box-shadow: 1px 1px 0px #A501FF,
                2px 2px 0px #A501FF,
                3px 3px 0px #A501FF,
                4px 4px 0px #A501FF,
                5px 5px 0px #A501FF,
                6px 6px 0px #A501FF,
                7px 7px 0px #A501FF,
                8px 8px 0px #A501FF,
                9px 9px 0px #A501FF,
                10px 10px 0px #A501FF,
                11px 11px 0px #A501FF,
                12px 12px 0px #A501FF;
}


.output {
    grid-area: 1/1/span 1/span 4;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    text-align: right;
    padding: 10px 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-weight: bold;
    background-color: #d5b5f7;
    color: #fff;
}

.previous-operand {
    font-size: 20px;
    color: #3d017d;
    min-height: 30px;
    height: 30px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.current-operand {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Martian Mono', monospace;
    font-size: 40px;
    height: 90px;
    line-height: 90px;
}

.span-two {
    grid-area: span 1/span 2;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .logo {
        flex-direction: column;
    }
}
